@font-face {
    font-family: breamcatcher;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/breamcatcher.ttf") format("opentype");
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.grid-inicial{

    padding-bottom: 17px;
    padding-top: 17px;

}
.coisinha-legal{
    text-align: center;
}
.fundo{
    background: #2F3238  url("../img/sujeirinhas.png") repeat-x center 0;

}
.rodape{
    text-align: center;
}
*{
    font-family: breamcatcher ;
    font-size: 30px;

}

body h2{
    font-family: breamcatcher ;
    font-size: 30px;
    color: white;

}

body ul li a{
    font-family: breamcatcher ;
    color: white;

}
.imgLivro{
    width: 270px !important;
    height: 400px !important;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    border: 5px;
    box-shadow: 2px 2px 2px #2F3238;
    -webkit-box-shadow: 2px 2px 2px #2F3238;
    -moz-box-shadow: 2px 2px 2px #2F3238;
}


#div-logo{
    padding-right: 5px;
    padding-left: 520px;

}
.inicial-li{
    text-align: center;
}
.menu{
    background-position: center;
    background-color: #903321;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    height: 68px;
    z-index: 1030;

}

.menu div ul li a:hover{
    background-color: transparent;
}

.carousel{
    padding-top: 0px;
}
.lala{
    padding-top: 0px;
}



}

#pessoalT{
    margin-top: 7px;
}

.imgLivro:hover{
    background-color: red;
    transition: 2s;
}
.modal-title{
    font-size: 20px;
}
.modal-body{
    text-align: center;
    padding: 15px;
    position: relative;
    background-color: #f3e4c8 ;
    border: 15px;
    box-shadow: black;
}

.contact-details h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1em;
    text-transform: uppercase;
}

.contact-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-details ul li {
    margin: 0 0 20px;
    line-height: 28px;
    padding: 0;

}

#contact-form {
    margin-bottom: 0;
}

#contact-form p {
    margin-bottom: 1px;
}

#contact-form input,
#contact-form textarea {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #26292E;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
    margin: 0;

    resize: none;
}

#contact-form input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form .submit {
    background: #3C3F45;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    margin-top: 30px;

    -webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#contact-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

#response {
    margin-top: 20px;
    color: #FFFFFF;
}
#contact-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}
.title-page .title-description {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}
.title-page {
    text-align: center;
    margin-bottom: 100px;
}

.title-page .title {
    font-size: 48px;
    margin: 0 0 10px 0
}
hr{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
.sug{
    color: white;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
#texto-ini{
    color: #f3e4c8;
    font-family: Snell Roundhand;
    font-size: 27px;
    text-align: center;
    font-family: breamcatcher;
}

input:focus {
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    z-index: 1;
    transition: width 1s ease-in;
}
button {
    height: 50px;
    width: 50px;
    background:  url('../img/lupa.png')  center no-repeat;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}
button:focus {
    outline: none;
}
/* esconde o LABEL "Buscar" */
label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    background: white;
}

#form_busca {
    margin: 10px;
}
div-scroll{
    width: 400px;
    background-color:#F2F2F2;
    overflow: scroll;
}
#p_recuo{
    text-indent: 40px;
    text-align: left;
    padding-top: 15px;
}
/* CSS PERFIL */
.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
}

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
    z-index: 10;
    background-color: #fff;
    margin-top: 20px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
    width:100%;
    min-height:200px;
    border: 0px!important;
    padding: 0px;
    border-radius: 0;
    border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
    display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
    max-height:200px;
    overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}
.container #perfil{
    padding-top: 20px;
}

/* CLASSIFICAÇÂO ESTRELAS */
#hearts { color: #ee8b2d;}
#hearts-existing { color: #ee8b2d;}

.estrelas{
    text-align: right;
    padding-right: 20px;
}
.btn-block{
    position: absolute;
    left: auto;
    top: auto;
}
.form-sign{
    text-align: right;
}
.pull-right{
    position: inherit;
    padding-top: 70px;
}
.form-especial{
    position: absolute;
    left: 13%;
    top: 20%;
}